
.element-0{
	left: 0px; top: 0px; background-color: rgb(41, 41, 41);
}
.element-1{
	top: 5px; left: 108px; width: 1044px; height: 2441px; box-sizing: content-box; background-color: rgb(215, 215, 215);
}
.element-2{
	height: 1920px; width: 1px; top: 530px; left: -497px; position: absolute;
}
.element-3{
	height: 457px; width: 257px; top: 520px; left: 500px; position: absolute;
}
.element-4{
	height: 500px; width: 1046px; top: -3px; left: -1px; position: absolute; box-sizing: content-box;
}
.element-5{
	height: 801px; width: 478px; top: 510px; left: 24px; position: absolute; box-sizing: content-box; background-color: transparent;
}
.element-6{
	height: 457px; width: 257px; top: 980px; left: 500px; position: absolute;
}
.element-7{
	height: 457px; width: 257px; top: 980px; left: 765px; position: absolute;
}
.element-8{
	height: 457px; width: 257px; top: 520px; left: 765px; position: absolute;
}
.element-9{
	height: 457px; width: 257px; top: 1440px; left: 765px; position: absolute;
}
.element-10{
	height: 457px; width: 257px; top: 1440px; left: 500px; position: absolute;
}
.element-11{
	height: 21px; width: 200px; top: 1314px; left: 24px; position: absolute; box-sizing: content-box;
}
.element-12{
	height: 249px; width: 470px; top: 1339px; left: 24px; position: absolute; box-sizing: content-box;
}
.element-13{
	height: 457px; width: 257px; top: 195px; left: 0px; position: absolute;
}
.element-14{
	height: 457px; width: 257px; top: 195px; left: 259px; position: absolute;
}
.element-15{
	height: 457px; width: 257px; top: 195px; left: 527px; position: absolute;
}
.element-16{
	height: 138px; width: 515px; top: 81px; left: 526px; position: absolute; box-sizing: content-box;
}
.element-17{
	height: 138px; width: 515px; top: 82px; left: 4px; position: absolute; box-sizing: content-box;
}
.element-18{
	height: 457px; width: 257px; top: 195px; left: 786px; position: absolute;
}
.element-19{
	height: 457px; width: 257px; top: 820px; left: 0px; position: absolute;
}
.element-20{
	height: 152px; width: 515px; top: 665px; left: 4px; position: absolute; box-sizing: content-box;
}
.element-21{
	height: 457px; width: 257px; top: 820px; left: 259px; position: absolute;
}
.element-22{
	height: 152px; width: 515px; top: 665px; left: 526px; position: absolute; box-sizing: content-box;
}
.element-23{
	height: 457px; width: 257px; top: 820px; left: 527px; position: absolute;
}
.element-24{
	height: 82px; width: 478px; top: -1px; left: 389px; position: absolute; box-sizing: content-box; background-color: transparent;
}
.element-25{
	height: 457px; width: 257px; top: 1500px; left: 0px; position: absolute;
}
.element-26{
	height: 178px; width: 515px; top: 1280px; left: 4px; position: absolute; box-sizing: content-box;
}
.element-27{
	height: 457px; width: 257px; top: 819px; left: 786px; position: absolute;
}
.element-28{
	height: 220px; width: 515px; top: 1280px; left: 526px; position: absolute; box-sizing: content-box;
}
.element-29{
	height: 457px; width: 257px; top: 1500px; left: 259px; position: absolute;
}
.element-30{
	height: 457px; width: 257px; top: 1500px; left: 786px; position: absolute;
}
.element-31{
	height: 457px; width: 257px; top: 1500px; left: 527px; position: absolute;
}
.element-32{
	height: 457px; width: 257px; top: 1960px; left: 786px; position: absolute;
}
.element-33{
	height: 457px; width: 257px; top: 1960px; left: 527px; position: absolute;
}
.element-34{
	height: 21px; width: 1029px; top: 2420px; left: 8px; position: absolute; box-sizing: content-box;
}
.element-35{
	height: 20px; width: 265px; top: 2159px; left: 100px; position: absolute; box-sizing: content-box;
}