
.element-0{
	left: 0px; top: 0px; background-color: rgb(41, 41, 41);
}
.element-1{
	top: 5px; left: 201px; width: 1031px; height: 1908px; box-sizing: content-box; background-color: rgb(215, 215, 215);
}
.element-2{
	height: 500px; width: 1032px; top: -3px; left: -1px; position: absolute; box-sizing: content-box;
}
.element-3{
	height: 1920px; width: 1px; top: 530px; left: -497px; position: absolute;
}
.element-4{
	height: 457px; width: 257px; top: 980px; left: 765px; position: absolute;
}
.element-5{
	height: 457px; width: 257px; top: 980px; left: 500px; position: absolute;
}
.element-6{
	height: 457px; width: 257px; top: 1440px; left: 765px; position: absolute; box-sizing: content-box;
}
.element-7{
	height: 457px; width: 257px; top: 520px; left: 765px; position: absolute; box-sizing: content-box;
}
.element-8{
	height: 457px; width: 257px; top: 1439px; left: 500px; position: absolute;
}
.element-9{
	height: 1348px; width: 478px; top: 510px; left: 24px; position: absolute; box-sizing: content-box; background-color: transparent;
}
.element-10{
	height: 457px; width: 257px; top: 520px; left: 500px; position: absolute;
}